<!DOCTYPE html>
<html>
  <head>
    <title>CustomRedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'layouts/header' %>
  <div class="alerts">
    <% unless notice.to_s.empty?%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>

    <% unless alert.to_s.empty?%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>
  </div>
    <div class="content">
      <% if user_signed_in? && !current_user.subscribed_to_news %>
        <%= render 'layouts/subscriber_modal' %>
      <% end %>
      <%= render 'layouts/confirmation' %>
      <%= yield %>
    </div>
  </body>
</html>
